@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Outfit:wght@100&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 0.9375em;
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.container {
    background-color: var(--White);
    max-width: 23.4375em;
    margin:  0 auto;
    padding: 1em;
    border-radius: 1em;
}
.qr-code {
    width: 100%;
}
.container__qr {
    background: url(images/image-qr-code.png) no-repeat;
    background-size: cover;
}

.page-footer {
    display: none;
}