body {
    margin-bottom: 1em;
}

.fade {
    height: 200px;
    width: 400px;
    background-image: linear-gradient(to right, black 20%, red 20%,red 40%, green 40%);
    display: none;
}

.blend {
    min-height: 400px;
    background-image: url(img/bear.jpeg), url(img/bear.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30vw, 30vw;
    background-blend-mode: multiply;
    margin-bottom: inherit;
    
}

.blend--luminosity {
    min-height: 400px;
    background-image: url(img/bear.jpeg);
    background-color: #148;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: luminosity;
    margin-bottom: inherit;

}

.blend--texture {
    min-height: 400px;
    background-image: url(img/scratches.png), url(img/bear.jpeg);
    background-size: 200px, cover;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-blend-mode: soft-light;
    margin-bottom: inherit;
}

.blend--mix-blend {
    background-image: url("img/bear.jpeg");
    background-size: cover;
    background-position: center;
    padding: 5em 0 10em;
}

.blend--mix-blend > h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 6rem;
    text-align: center;
    mix-blend-mode: hard-light;
    background-color: #c33;
    color: #808080;
    border: 0.1em solid #ccc;
    border-width: 0.1em 0;

}